.DocumentationBlock {
    margin: 1rem;
    padding: 1rem;
    background-color: aliceblue;
    border-radius: 25px;
    width: 25%;
}

.DocumentationLinkStyling {
    display: block;
    color: black;
    text-decoration: underline;
}

/* If the screen size is 1200px wide or more, set the font-size to 80px */
@media (min-width: 1200px) {
    .responsive-font {
      font-size: 80px;
    }
  }
  /* If the screen size is smaller than 1200px, set the font-size to 80px */
  @media (max-width: 1199.98px) {
    .responsive-font {
      font-size: 30px;
    }
  }