.TeamBlock {
    margin: 1rem;
    padding: 1rem;
    background-color: aliceblue;
    border-radius: 25px;
    width: 25%;
}

.CoachBlock {
    margin-top: 1rem;
    border: 2px black;
}

.TeammateBlock {
    margin-top: 1rem;
}